:root {
    --mainColor: #2b2d42;
    --color2: #8d99ae;
    --color3: #edf2f4;
    --color4: #ef233c;
    --color5: #d90429;
}

body {
    background-color: var(--color2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logoNav {
    aspect-ratio: 1/1;
    width: 80px;
}

.navbar {
    background-color: var(--mainColor);
}

.row {
    background-color: var(--color3);
}

.container {
    background-color: var(--color3);
    width: 90vw;
}

.imgArticulo {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.card {
    margin-right: 10px;
    transition: transform 0.2s;
    background-color: #E2D9F3;
}

.card:hover {
    transform: scale(1.05);
    background-color: #E0CFFC;
}

#catalogoCard {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cantidad {
    width: 40%;
    margin-left: 5px;
}